<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>关于</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 class="title">江西省土壤环境现场监察移动智能终端ver1.0</h2>
  <ion-card>
    <ion-item>
      <ion-img src="assets/img/my-about1.png"></ion-img>
      <ion-label>本软件用于各级生态环境部门进行现场监督监察。</ion-label>
    </ion-item>
    <ion-item>
      <ion-img src="assets/img/my-about2.png"></ion-img>
      <ion-label>基于GIS提供重点行业企业信息查询，地块基本信息，位置，范围，主要污染物，记录现场监察数据。</ion-label>
    </ion-item>
    <ion-item>
      <ion-img src="assets/img/my-about3.png"></ion-img>
      <ion-label>各级管理部门对企业，地块的进一步监管，也加强对从业单位和农村环境的质量管理。</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
