.add-icon {
    width: 18px;
    height: 18px;
}

// 搜索框样式
ion-searchbar {
    --border-radius: 4px;
    --background: #fff;
    --cancel-button-color: #333333;
    --clear-button-color: #333333;
    background-color: #f5f5f5;
}

ion-toolbar {
    --border-color: transparent;
}