// 搜索框样式
ion-searchbar {
    padding: 0 5px;
    --border-radius: 4px;
    --background: #F5F5F5;
    --cancel-button-color: #333333;
    --clear-button-color: #333333;
}
// 搜索历史样式
ion-list-header {
    font-size: 14px;
    ion-label {
        margin-top: 23px;
    }
}
ion-item {
    img {
        margin-right: 10px;
    }
    --border-color: #F5F5F5;
    --background-focused: #F5F5F5;
}


